.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 20px;
}
.footer path {
	fill: #000;
}
@media screen and (max-width: 556px) {
	.footer {
		padding: 20px 30px;
	}
	.footerNav {
		display: none;
	}
}
