.ourHeader {
	background: url('../../assets/img/our/our-bg.jpg') center center / cover
		no-repeat;
	padding: 30px 150px 84px;
	color: #ffffff;
}
@media screen and (max-width: 962px) {
	.ourHeader {
		padding: 30px 30px;
	}
}
